/* Importando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilo geral do corpo */
body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #f87d0a;
    margin: 10px;
    padding: 0;
}

/* Estilo dos títulos */
h1, h2 {
    color: #ffffff;
}

/* Estilo dos formulários */
form {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 500px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form button {
    display: block;
    width: calc(100% - 22px);
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form input {
    border: 1px solid #ddd;
}

form button {
    background-color: #f87d0a;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #e76f00;
}

/* Estilo das listas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ffffff;
    color: #000000;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

ul li form {
    display: inline;
    margin-left: 10px;
}

/* Links */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}